backend:
  name: git-gateway
  branch: main

## For local_backend to work run 'npx netlify-cms-proxy-server &' from the project root.
local_backend: true

# backend:
#   name: github
#   repo: SummittDweller/wieting-theatre-netlify
#   branch: main

media_folder: site/static/img    
public_folder: /img

collections:
  - name: performance
    label: Performance
    identifier_field: title
    folder: site/content/performance   
    create: true
    
    slug: '{{slug}}'
    path: '{{year}}/{{slug}}'
    preview_path: '{{year}}/{{slug}}'
    preview_path_date_field: date
    
    sortable_fields: [ 'date', 'lastmod', 'location', 'city' ]
    sort: 'date:desc'
    
    view_groups:
      - label: 'Date:'
        field: date
        pattern: \d{4}-\d{2}
      - label: 'Location:'
        field: location  
      - label: 'City:'
        field: city  
      - label: 'Draft:'
        field: draft
    
    view_filters:
      - label: "Current Year"
        field: date
        pattern: '2021'
    
    editor:
      preview: true

    fields:

      - label: Title
        name: title
        widget: string
        required: true
        hint: "Prefered form is '<date> - <title>', like '2015-05-05 - Bobber's Grill'."

      - label: Type
        name: type
        default: performance
        widget: hidden

      - label: Body
        name: body
        widget: markdown
        required: false

      - label: Description
        name: description
        widget: string
        hint: "Populates the 'description' field."
        required: false

      - label: Publish Date
        name: publishDate
        widget: date

      - label: Date
        name: date
        hint: Enter the date of the performance.

      - label: Start Time
        name: startTime
        hint: "Enter a short string like '7pm' for the start time."

      - label: End Time
        name: endTime
        hint: "Enter a short string like '1:30am' for the end time."

      - label: City
        name: city
        required: false

      - label: Location
        name: location
        required: false
        hint: "A discrete location. For example: 'Cedar River Landing'."

      - label: Venues
        name: venues
        widget: list
        default: [" "]
        comment: "Enter comma separated values."
        required: false

      - label: Draft Status
        name: draft
        widget: boolean
        default: false

      - label: Last Mod
        name: lastmod
        widget: datetime
        
